.CDTtooltip {
  background-color: yellow;
  padding: 20px;
  position: absolute;
  text-align: center;
  font: 12px sans-serif;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.subsLimitSelect {
  // margin-top: 45px;
  margin-left: 45px;
  position: absolute;
}
