.active,
.active button,
.active button:hover {
  background-color: white;
  color: black;
  border-radius: 5px;
}

.appBarSections {
  display: flex;
  justify-content: space-evenly;
}

.homeLink {
  &.active,
  .active button,
  .active button:hover {
    background-color: transparent;
    color: white;
  }
}
