

@media only screen and (max-width: 600px) {
    .googleLoginButton {
        height: 46px;
        width: 120px;
        background-image: url('/assets/img/btn_google.png');
        background-size: 100% 100%;
    }
}

@media only screen and (min-width: 600px) {
    .googleLoginButton {
        height: 46px;
        width: 191px;
        background-image: url('/assets/img/btn_google.png');
        background-size: 100% 100%;
    }
}

.loginImage {
    height: 40px;
    width: 40px;
    vertical-align: middle;
    margin-right: 10px;
}

.loginName {
    margin-right: 10px;
}
